<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.dormeusapps.AeroNyra.invite</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aeronyra</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Geist-Regular.ttf</string>
		<string>Geist-Medium.ttf</string>
		<string>Geist-SemiBold.ttf</string>
		<string>Geist-Bold.ttf</string>
		<string>GeistMono-Regular.ttf</string>
		<string>GeistMono-Medium.ttf</string>
		<string>GeistMono-SemiBold.ttf</string>
		<string>Newsreader_14pt-Regular.ttf</string>
		<string>Newsreader_14pt-Italic.ttf</string>
		<string>Newsreader_14pt-Medium.ttf</string>
		<string>Newsreader_14pt-MediumItalic.ttf</string>
		<string>SplineSansMono-Regular.ttf</string>
		<string>SplineSansMono-Medium.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
</dict>
</plist>
